@model OTPChangePassWord
@{
    ViewData["Title"] = "ChangePassWord";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Confirm OTP</h3>
                </div>
                <div class="card-body">
                    <form asp-action="" method="post">
                        <input type="hidden" asp-for="Email" />

                        <div class="form-group">
                            <label asp-for="OTPCode" class="control-label"></label>
                            <input asp-for="OTPCode" class="form-control" id="otpCodeInput" />
                            <span asp-validation-for="OTPCode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>OTP Expiration Time:</label>
                            <p id="countdown"></p>
                        </div>

                        <button type="submit" class="btn btn-primary" id="submitButton">Confirm OTP</button>
                        <button type="button" class="btn btn-secondary" id="resendButton">Resend OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
